.quiz-main {
  &__section1 {
    h2 {
      @include font(1.8rem, "Courier New", italic, rgb(207, 207, 207));
      font-weight: bold;
      margin-left: 25px;
    }
    margin-left: 25px;
  }
  margin-top: 25px;
}
