.header {
  @include flex();
  h1 {
    @include font(2.2rem, Arial Black, none, rgb(144, 184, 224));

    font-weight: bolder;
    margin-bottom: 20px;
  }
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  border-bottom: 0.025px solid rgb(112, 112, 112);
}
